html {
  box-sizing: border-box;
}

*,*:before, *:after{
  box-sizing: inherit;
}

body {
  
  background-color: #FAACA8;
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);

}
section {
  background: #ffffff;
}

h1 {
  color: #ff5492;
}
.secondary-heading {
  color: #1460aa;
  text-align: center;

}
.hotpink-header {
  color: #e4599e;
}
a {
  color: #e4599e;
}
nav a {
  color: grey;
}
h4 {
  color:#535353;
}

#top {
  background: white;
  text-align: center;
  border-radius: 20px;
}
.header {
  background:#ffffff;
  min-height:auto;
  position:fixed;
  top:0;
  width:100%;
  
}
.hamburger {
  position:absolute;
  top:20px;
  right:10px;
}
.navigation {
  padding: 16px;
  display:none;
}
.navigation--open {
  display: block;
}

.navigation__link {
  color:hotpink;
  display: block;
  margin:0 0 16px;
}
.navigation__link--homepage {
  
  color: #000;
}
.week-summary {
  padding: 16px;
  border: 1px #ccc solid;
  margin: 15px 10px;
  text-align: justify;
  background: white;
}
.week-summary__description {
  color: #651ea7;
  margin-right:40px ;
  
  
}
.week-summary__title {
  color: #e8a9ac;
}
.photo-Patrycja {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 20px;
  border-radius: 35%;
  max-width: 100%;
}



.logo-css {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 20px;
}

.logo-html {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 20px;
}

.main {
 max-width:1000px; 
  margin: 60px auto 0;

}
.main__heading {
  padding: 12px;
}
.about__description{
  color:black;

}
.about__link {
  color:hotpink;

}
.footer{
  max-width:1000px; 
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
  }
  
@media (min-width:768px) {
  .hamburger {
    display: none;
  }
   .navigation {
    padding: 16px;
    border-radius: 18px;
    display: flex;
    justify-content:space-around;
    height: 70px;
    align-items: center;

}