
body{ 
    background: #fefefe9a;
}
section {
    background:#ffffff;
}

h1 {
    color: #ff5492;

}
.secondary-heading {
    color: #1460aa;

}
.special-heading{
    color: #e8a9ac;

}
.hotpink-header{
    color:hotpink;
    
}
a {
    color:hotpink;
}
nav a {
    color:grey;

}
h4 {
    color:green;
}

#top {
    background:grey;
}